<div class="form-container">
    <h1 class="title">Project Details</h1>

    <loader ng-if="vm.loading"></loader>
    <div ng-if="vm.errorMessage" uib-alert class="alert-danger" close="vm.errorMessage = ''">{{vm.errorMessage}}</div>

    <div ng-if="vm.successMessage" uib-alert class="alert-success" close="vm.successMessage = ''">{{vm.successMessage}}</div>

    <div ng-if="!vm.loading && !vm.errorMessage">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
                <input class="form-control-plaintext" id="name" name="name" ng-model="vm.project.name" type="text" readonly />
            </div>
        </div>

        <div class="form-group row">
            <label for="scheduledDate" class="col-sm-4 col-form-label">Scheduled Date</label>
            <div class="col-sm-8">
                <input class="form-control-plaintext" id="scheduledDate" name="scheduledDate" value="{{vm.project.scheduledDate | date: 'dd MMMM yyyy'}}" type="text" readonly />
            </div>
        </div>

        <div class="form-group row">
            <label for="price" class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
                <input class="form-control-plaintext" id="price" name="price" value="{{vm.project.price | currency}}" type="text" readonly />
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-light btn-block" ui-sref="index">View all projects</a>
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-block" ui-sref="add">Add a new project</a>
        </div>
    </div>
</div>