body a, body a:hover {
  color: #b0c0ce;
  text-decoration: none; }

body header .bd-navbar {
  background-color: #0f4c81; }

body main {
  margin-top: 35px;
  margin-bottom: 35px;
  min-height: 100px; }

body footer {
  background-color: #0f4c81;
  color: white;
  padding: 25px; }
  body footer p {
    font-size: small;
    margin-bottom: 0.5rem;
    text-align: center; }
