@import 'variables';

html {
    height: 100%;
    padding: 0;
    margin: 0;

    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 95px;
        position: relative;

        a, a:hover {
            color: $link-color;
            text-decoration: none;
        }

        header {
            .bd-navbar {
                background-color: $brand-color;
            }
        }

        main {
            margin-top: 35px;
            margin-bottom: 35px;
            min-height: 100px;

            h2{
                font-size: 1.75rem;
            }
        }

        footer {
            background-color: $brand-color;
            color: white;
            padding: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;

            p {
                font-size: small;
                margin-bottom: 0.5rem;
                text-align: center;
            }
        }
    }
}
