@import 'variables';

body {
    a, a:hover {
        color: $link-color;
        text-decoration: none;
    }

    header {
        .bd-navbar {
            background-color: $brand-color;
        }
    }

    main {
        margin-top: 35px;
        margin-bottom: 35px;
        min-height: 100px;
    }

    footer {
        background-color: $brand-color;
        color: white;
        padding: 25px;

        p {
            font-size: small;
            margin-bottom: 0.5rem;
            text-align: center;
        }
    }
}
