@import 'variables';

html {
    height: 100%;
    padding: 0;
    margin: 0;

    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 95px;
        position: relative;

        a {
            color: $brand-color;
        }

        a:hover {
            color: $link-hover;
            text-decoration: none;
        }

        header {
            .bd-navbar {
                background-color: $brand-color;
            }
        }

        main {
            margin-top: 1rem;
            margin-bottom: 1rem;
            position: relative;

            .title {
                font-size: 2rem;
                letter-spacing: 0.1rem;
                margin-bottom: 1.5rem;
                text-transform: uppercase;
            }

            .table {
                margin-bottom: 0;

                th, td {
                    padding: .6rem;
                }
            }

            .pagination {
                justify-content: center;
            }

            .pagination-info {
                text-align: center;
                font-size: smaller;
                line-height: 38px;
            }
        }

        footer {
            background-color: $brand-color;
            color: white;
            padding: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;

            p {
                font-size: small;
                margin-bottom: 0.5rem;
                text-align: center;
            }

            a, a:hover {
                color: white;
                text-decoration: underline;
            }
        }

        .form-container {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;

            label {
                font-weight: 600;
            }

            .form-control.ng-invalid.ng-touched, .ng-submitted .form-control.ng-invalid {
                border-color: #dc3545;
            }

            .ng-submitted .invalid-feedback {
                display: block;
            }
        }
    }
}

/* Loading animation */
.loader-overlay {
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($brand-color, 0.05);

    .loader {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;

        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 32px;
            height: 32px;
            margin: 3px;
            border: 3px solid $border-color;
            border-radius: 50%;
            animation: lds-ring 1.6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: $border-color transparent transparent transparent;
        }

        div:nth-child(1) {
            animation-delay: -0.6s;
        }

        div:nth-child(2) {
            animation-delay: -0.4s;
        }

        div:nth-child(3) {
            animation-delay: -0.2s;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
